.header {
  height: 60px;
  background-color: orange;
}

.section__img {
  height: 300px;
}

.section__blockquote {
  background-color: #f5e8cd;
}

.footer {
  height: 300px;
  background-color:blueviolet;
}

.footer__title {
  color: wheat;
}

.footer__list {
  color: wheat;
}

a {
  color: wheat;
}