:root {
  --gerenal-text: #312C27;
  --general-bg: #FFF9F4;
  --accent-color: #FFA55C;
  --accent-text: #1F1711;
  --accent-bg: #FFE0CB;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gerenal-text);
  background-color: var(--general-bg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: 0.82;
  color: var(--accent-text);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
  line-height: 1.6;
  font-weight: 500;
  border-radius: 60px;
  color: var(--gerenal-text);
  background-color: var(--accent-color);
  transition: background-color .4s;
}

.button:hover {
  background-color: #FF9138;
}


/* ================================HEADER====================================== */

.header {
  background: url(../img/decor/bg-header.png)center center / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__img {
  max-width: 174px;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  position: relative;
  z-index: 0;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -13px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0;
  z-index: -1;
  transition: opacity .4s;
}

.nav__link:hover::before {
  opacity: 1;
}

.hero {
  padding: 50px 0 140px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.hero__content {
  max-width: 519px;
}

.hero__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: #B197B2;
  line-height: 1.6;
  text-transform: uppercase;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span::after {
  content: '';
  margin: 0 10px 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #B197B2;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  margin-bottom: 30px;
}

.hero__text {
  max-width: 358px;
  margin-bottom: 40px;
}

.hero__button {
  max-width: 358px;
}

.hero__picture {
  margin-right: 247px;
  position: relative;
}

.hero__picture-control {
  display: flex;
  position: absolute;
  gap: 10px;
  bottom: 11%;
  left: calc(100% - 39px);
  align-items: center;
  max-width: 200px;
}

.hero__picture-link {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: var(--accent-bg);
  box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.30);
}

.hero__picture-link img {
  padding-left: 8.9%;
}

.hero__picture-link::before {
  content: '';
  position: absolute;
  width: 68px;
  height: 68px;
  border: 1px solid var(--accent-color);
  border-radius: 68px;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.30);
  opacity: 0;
  transition: opacity .4s;
}

.hero__picture-link:hover::before {
  opacity: 1;
}